@import '../../sass/colors';

.no-image {
    background-color: $gray;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    width: 140px;
    height: 100%;
    max-width: 315px;
    max-height: 220px;
}

.no-image.card-content {
    width: auto;
    max-width: none;
}