.topic {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 100%;
    height: 100%;

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;

        height: inherit;
    }

    .top-bar-name {
        text-transform: capitalize;
    }
}

.load-buttons {
    display: flex;
    justify-content: space-evenly;
}