@import './functions';
@import './style';
@import './fonts';

$max-width-mobile: 414px;
$min-width-mobile: 360px;

$max-width-tablet: 1280px;
$min-width-tablet: 601px;

$max-width-desktop: 1920px;
$min-width-desktop: 1280px;

@mixin small-mobile-media() {
    @media (max-width: $min-width-mobile) {
        #home,
        .list {
            .horizontal {
                width: -webkit-fill-available;
            }
        }

        .list {
            .no-image {
                width: auto;
            }
        }
    }
}

@mixin tablet-media() {
    @media (min-width: $max-width-mobile) {
        #root {
            max-width: $min-width-tablet;
        }

        #App {
            width: -webkit-fill-available;
            max-width: none;

            #information {
                p {
                    width: auto;
                    max-width: 300px;
                }
            }
        }

        #home,
        .topic {
            .top-bar {
                width: 100%;
                max-width: none;
            }
        }

        .topic {
            .search {
                max-width: none;

                input {
                    width: -webkit-fill-available;
                    max-width: none;
                }
            }
        }
    }
}

@mixin desktop-media() {
    @media (min-width: $min-width-desktop) {
        #root {
            max-width: $max-width-tablet;
        }

        #App {
            #landing {
                align-items: center;
                .top {
                    @include bold-font(36px);
                    width: 800px;

                    svg {
                        width: auto;
                        height: 60px;
                    }
                }
            }

            #information {
                align-items: center;
                
                #sections {
                    width: 800px;

                    .section {
                        height: 420px;

                        p {
                            width: auto;
                            max-width: 400px;
                        }

                        img,
                        svg {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }

            .start {
                gap: 20px;
            }

            .topic {
                .search {
                    max-width: 335px;
                }
            }

            #find-by {
                flex-direction: row;
                justify-content: center;
            }

            .card-content {
                flex-direction: row;
    
                img,
                .no-image {
                    width: 605px;
                    height: fit-content;
                }
    
                .list-categories {
                    width: 605px;
                }
            }
        }

        #menu {
            display: flex;
            justify-content: center;
            min-height: 100vh;
            margin: 0px;

            #menu-background {
                width: 1024px;
            }
        }
    }
}