@import '../../sass/colors';
@import '../../sass/style';
@import '../../sass/functions';

$card-content-padding: 10px;

.card-content {
    background-color: $light-gray;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: $card-content-padding;
    border-radius: $border-radius-large;

    width: get-real-size(100%, $card-content-padding);
}

.card-content > img {
    border-radius: $border-radius-large;

    width: 100%;
}