@import './sass/medias';

$padding: 20px;
$max-width: 375px;

#App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    padding: $padding;
    width: -webkit-fill-available;
    max-width: get-real-size($max-width, $padding);
    height: -webkit-fill-available;

    overflow: auto;
}

@include small-mobile-media();
@include tablet-media();
@include desktop-media();