@import '../../sass/colors';
@import '../../sass/fonts';
@import '../../sass/style';

$padding: 10px;

.card {
    @include card-text;
    background-color: $light-gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: $border-radius-large;

    width: calc(160px - $padding * 2);
    padding: $padding;

    * {
        margin: 0;
    }

    img {
        border-radius: 20px;
        object-fit: cover;

        width: 140px;
        height: 100%;
        max-width: 315px;
        max-height: 220px;
    }
}

.horizontal {
    width: calc(335px - $padding * 2);

    img {
        width: 100%;
    }
}

.large {
    height: calc(273px - $padding * 2);
}

.medium {
    height: calc(178.5px - $padding * 2);

    img {
        max-height: 126px;
    }
}

.short {
    height: calc(131.5px - $padding * 2);

    img {
        max-height: 79px;
    }
}