@import '../../sass/colors';

#menu {
    background-color: $black-transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100vw;
    height: 100vh;
}

#menu-list {
    background-color: $white;

    width: 268px;
    padding: 20px;
    border-radius: 0px 40px 40px 0px;
}